.jumbotron {
    background-color: rgb(31, 208, 231);
    color: black;
    margin-top: 50px;
}

footer {
padding: 10px 10px 0 10px;
background-color:red;
margin-bottom: 0px;
margin-top: 10px;

}

.card-hotel {
    flex: 1 200px;
    
    margin-top: 10px;
    
}

.btn-reserva {
    width: 100%;
 
    

}

.footer-address-icon {
    padding-right: 10px;

}

.signo-de-mas {
    padding-right: 10px;
}

.titulo-barra {
    font-family: amoore;
    font-size: 30px;
   
}

.tab-content { 
    padding-top: 10px;
   
    
    
}