@red: #ffffff;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
    
}




.jumbotron {
    background-color: @red;
    color: black;
    .margenes(50px, 0px);
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @red;
    .margenes(10px, 0px);
 }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px);
 }
  
  .btn-reserva {
    width: 100%; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .signo-de-mas {
    padding-right: 10px; }
  
  .titulo-barra {
    font-family: amoore;
    font-size: 30px; }
  
  .tab-content {
    padding-top: 10px; }
  