$red: #53c5e7; 

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}


.jumbotron {
    background-color: $red;
    color: black;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $red;
    @include margenes(10px, 0px);

}

.card-hotel {
    flex: 1 200px;
    
    @include margenes(10px, 0px);
    
}

.btn-reserva {
    width: 100%;
 
    

}

.footer-address-icon {
    padding-right: 10px;

}

.signo-de-mas {
    padding-right: 10px;
}

.titulo-barra {
    font-family: amoore;
    font-size: 30px;
   
}

.tab-content { 
    padding-top: 10px;
   
    
    
}