.jumbotron {
  background-color: #53c5e7;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #53c5e7;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%; }

.footer-address-icon {
  padding-right: 10px; }

.signo-de-mas {
  padding-right: 10px; }

.titulo-barra {
  font-family: amoore;
  font-size: 30px; }

.tab-content {
  padding-top: 10px; }
